@page
@model Tienda.Pages.Carritos.IndexModel
@{
}
<h1>Carrito</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].NomProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proCar[0].Cantidad)
            </th>
            <th>
                Precio unitario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.proCar)
        {if (item.Carrito.Usuario.UserName == User.Identity.Name && item.Carrito.Vendido == false)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.NomProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Precio)
                </td>
                <td>
                    @(item.Producto.Precio * item.Cantidad)
                </td>
                <td>
                    <a  href="~/api/Carrito/@item.IdProdCar/@item.Producto.IdProducto" class="btn btn-primary btnDelete"><i class="fas fa-times"></i></a>|
                    <a href="~/api/CarritoCantidad/@item.IdProdCar/1/@item.Producto.IdProducto" class="btn btn-success btnAgregar"><i class="fas fa-plus"></i></a>|
                    <a href="~/api/CarritoCantidad/@item.IdProdCar/-1/@item.Producto.IdProducto" class="btn btn-danger btnDisminuye"><i class="fas fa-minus"></i></a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<div>
    <h5>Total a pagar</h5>
    <h4>$@Model.Total(Model.carritoActual().IdCar)</h4>
    <a href="~/api/Sale/@Model.carritoActual().IdCar/@Model.Total(Model.carritoActual().IdCar)" class="btn btn-success btnPaga">Pagar</a>
</div>

@section Scripts{
<script>
     $(function () {
            $(".btnPaga").on("click", function (ev) {
                var url = $(this).attr("href");
                ev.preventDefault();
                $.ajax({
                            url: url,
                            type: "POST",
                            success: function () {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Se Pago',
                                    showConfirmButton: false,
                                });
                                window.setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                        });
            });
        });
      $(function () {
            $(".btnDelete").on("click", function (ev) {
                var Url = $(this).attr("href");

                ev.preventDefault();

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Estas seguro de borrar este producto del carrito?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Si, borraro',
                    cancelButtonText: 'No, cancela',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: Url,
                            type: "DELETE",
                            success: function (result) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Se a borrado del carrito correctamente',
                                    showConfirmButton: false,
                                });
                                window.setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelado',
                            'NO se borro el producto',
                            'error'
                        )
                    }
                });
            });
      });
    $(function () {
            $(".btnAgregar").on("click", function (ev) {
                var url = $(this).attr("href");
                ev.preventDefault();
                $.ajax({
                            url: url,
                            type: "POST",
                            success: function () {
                               
                                window.setTimeout(function () {
                                    location.reload();
                                }, 0);
                    },
                    error: function () {
                        Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: 'No ay tanto producto en stock',
                                    showConfirmButton: false,
                                });
                    }
                        });
            });
    });
    $(function () {
            $(".btnDisminuye").on("click", function (ev) {
                var url = $(this).attr("href");
                ev.preventDefault();
                $.ajax({
                            url: url,
                            type: "POST",
                            success: function () {
                               
                                window.setTimeout(function () {
                                    location.reload();
                                }, 0);
                    },
                             error: function () {
                        Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: 'No se puede disminuir mas la cantidad del carrito',
                                    showConfirmButton: false,
                                });
                    }
                        });
            });
        });
</script>
 }