@page
@model Tienda.IndexModel
@{


}

<div>
    <h1 class="display-4">Bienvenido a Tiendita experimental HD</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQOAF0xTNNUpP3hLvV2CtIzHdPTo-_FALAWQ4uWAF-WzR_zeooC" style="max-height:450px;max-width:450px;" />

</div>


<div class="card-columns">
    @foreach (var product in Model.productos)
    {
        <div class="card col-sm" id="@product.IdProducto">
            <img src="@product.Img" class="product" />
            <div class="card-body">
                <h5 class="card-title"> @product.NomProducto </h5>
                <div class="info hidden" id="@product.IdProducto">
                <p>Detalles: @product.Detalle 
                <br>Precio: @product.Precio
                </p>
                </div>
            </div>

            <div class="card-footer">
                <a class="btn btn-light btnAgregar" href="~/api/Carrito/@product.IdProducto/@Model.Car.Last().IdCar">Agregar al carrito <i class="far fa-plus-square"></i></a>
            </div>
        </div>
    }
</div>

@section Scripts { 
    <script type="text/javascript">
        $(function () {
            $(".btnAgregar").on("click", function (ev) {
                var url = $(this).attr("href");
                ev.preventDefault();
                $.ajax({
                            url: url,
                            type: "POST",
                            success: function () {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Se agrego al carrito',
                                    showConfirmButton: false,
                                });
                                window.setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                        });
            });
        });

        //Experimento de la utilidad visibiliti
        $(function () {
            $(".card").mouseover(function (ev) {
                var id = $(this).attr("id");
                $('#'+id+'.info').removeClass('hidden');
            });
            $(".card").mouseout(function (ev) {
                  var id = $(this).attr("id");
                $('#'+id+'.info').addClass('hidden');
            });
        });
    </script>
}